body {
    background-color: #0e3627;
    margin: 10%;
    margin-left:30%;
    margin-right:30%;
}
#title {
    text-align: center;
    text-shadow: 5px 5px 10px white;
    font-size: 7vh;
}
img {
    display: inline-block;
    width: 100%;
}
#caption {
    font-size: 17px;
    font-family: Gill Sans;
    color: rgb(172, 16, 16);
}


div#tribute-data {
    background-color: rgb(46, 139, 87, 0.25);
    box-shadow: 20px 20px 20px #36e236;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    color:white;
}

h1.title-sundar {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}

#tribute-link {
    text-decoration: none;
    color: black;
}